@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf5fb;
  --foreground: #262835;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf5fb;
    --foreground: #262835;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
